<div class="row">    
  <div class="form-group">
    <h3>Elija el filtro de su preferencia</h3>
      <form [formGroup]="form">
      <div class="col-lg-2">
          <div class="mb-3">
              <input class="form-check-input" formControlName="Parametro" (click)="changeParam($event)"
               type="radio" name="Parametro" id="radioMonto" value="Monto">
              <label class="form-check-label" for="radioMonto">
                Monto
              </label>
              <input class="form-check-input" formControlName="Parametro" (click)="changeParam($event)" type="radio" name="Parametro" id="radioFecha" value="Fecha">
              <label class="form-check-label" for="radioFecha">
                Fecha
              </label>
              <input class="form-check-input" formControlName="Parametro" (click)="changeParam($event)" type="radio" name="Parametro" id="radioTipo" value="Tipo">
              <label class="form-check-label" for="radioTipo">
                Tipo
              </label>
            </div>
      </div>
      <div *ngIf="selectedParam=='Monto'" class="col-lg-2">
          <input type="number" formControlName="valor" class="form-control" id="valueToFilter" placeholder="Ingrese el monto a buscar">
      </div>
      <div *ngIf="selectedParam=='Fecha'" class="col-lg-2">
          <input type="date" id="valueToFilter" formControlName="valor" class="form-control">
      </div>
      <div *ngIf="selectedParam=='Tipo'" class="col-lg-2">
        <select name="TipoRegistro" id="valueToFilter" formControlName="valor">
          <option value="0">Seleccione el tipo</option>
          <option value="Ingreso">Ingreso</option>
          <option value="Gasto">Gasto</option>
        </select>
      </div>
      <div class="col-lg-2">
          <button class="btn btn-success" data-bs-toggle="modal" (click)="filterData()">Buscar
          </button>
      </div>
    </form>
  </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Concepto</th>
            <th scope="col">Monto</th>
            <th scope="col">Fecha</th>
            <th scope="col">Tipo</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of registroData">
            <td>{{row.id}}</td>
            <td>{{row.Concepto}}</td>
            <td>{{row.Monto}}</td>
            <td>{{row.Fecha}}</td>
            <td>{{row.Tipo}}</td>
            <td>
                <button class="btn btn-info" (click)="editRecord(row)" data-bs-toggle="modal" data-bs-target="#IngresosModal">Edit</button>
                <button class="btn btn-danger mx-3" (click)="deleteRecord(row)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>


<!-- Modal Ingresos-->
<div class="modal fade" id="IngresosModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Registro de ingresos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formValue">
                <div class="mb-3">
                  <label for="inputConcepto" class="form-label">Concepto</label>
                  <input type="text" formControlName="Concepto" class="form-control" id="inputConcepto">
                 
                </div>
                <div class="mb-3">
                  <label for="inputMonto" class="form-label">Monto</label>
                  <input type="number" step="0.1" formControlName="Monto" class="form-control" id="inputMonto">
                 
                </div>
                <div class="mb-3">
                  <label for="inputFecha" class="form-label">Fecha</label>
                  <input type="date" formControlName="Fecha" class="form-control" id="inputFecha">
                </div>
                 <div class="mb-3">
                    <input class="form-check-input" formControlName="Tipo" type="radio" name="Tipo" id="radioIngreso" value="Ingreso">
                    <label class="form-check-label" for="radioIngreso">
                      Ingreso
                    </label>
                    <input class="form-check-input" formControlName="Tipo" type="radio" name="Tipo" id="radioGasto" value="Gasto">
                    <label class="form-check-label" for="radioGasto">
                      Gasto
                    </label>
                  </div> 
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" (click)="postNewRecord()" class="btn btn-success" data-bs-dismiss="modal">Guardar</button>
          <button type="button" (click)="updateRecord()" class="btn btn-primary" data-bs-dismiss="modal">Actualizar</button>
        </div> 
