<div class="row">
    <div class="col-lg-2">
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#IngresosModal">Agregar
        </button>
    </div>
    <div class="col-lg-2">
        <div class="mb-3">
            <input class="form-check-input" type="radio" name="Parametro" id="radioMonto" value="Monto">
            <label class="form-check-label" for="radioMonto">
              Monto
            </label>
            <input class="form-check-input" type="radio" name="Parametro" id="radioFecha" value="Fecha">
            <label class="form-check-label" for="radioFecha">
              Fecha
            </label>
            <input class="form-check-input" type="radio" name="Parametro" id="radioTipo" value="Tipo">
            <label class="form-check-label" for="radioTipo">
              Tipo
            </label>
          </div>
    </div>
    <div class="col-lg-2">
        <input type="text" class="form-control" placeholder="Ingrese el valor a buscar">
    </div>
    <div class="col-lg-2">
        <button class="btn btn-success" data-bs-toggle="modal" (click)="filterData()">Buscar
        </button>
    </div>
</div>