<div class="row">    
    <div class="form-group">
      <h3>Elija el filtro de su preferencia</h3>
        <form [formGroup]="form">
        <div class="col-lg-2">
            <div class="mb-3">
                <input class="form-check-input" formControlName="Parametro" (click)="changeParam($event)"
                 type="radio" name="Parametro" id="radioMonto" value="Monto">
                <label class="form-check-label" for="radioMonto">
                  Monto
                </label>
                <input class="form-check-input" formControlName="Parametro" (click)="changeParam($event)" type="radio" name="Parametro" id="radioFecha" value="Fecha">
                <label class="form-check-label" for="radioFecha">
                  Fecha
                </label>
                <input class="form-check-input" formControlName="Parametro" (click)="changeParam($event)" type="radio" name="Parametro" id="radioTipo" value="Tipo">
                <label class="form-check-label" for="radioTipo">
                  Tipo
                </label>
              </div>
        </div>
        <div *ngIf="selectedParam=='Monto'" class="col-lg-2">
            <input type="number" formControlName="valor" class="form-control" id="valueToFilter" placeholder="Ingrese el monto a buscar">
        </div>
        <div *ngIf="selectedParam=='Fecha'" class="col-lg-2">
            <input type="date" id="valueToFilter" formControlName="valor" class="form-control">
        </div>
        <div *ngIf="selectedParam=='Tipo'" class="col-lg-2">
          <select name="TipoRegistro" id="valueToFilter" formControlName="valor">
            <option value="0">Seleccione el tipo</option>
            <option value="Ingreso">Ingreso</option>
            <option value="Gasto">Gasto</option>
          </select>
        </div>
        <div class="col-lg-2">
            <button class="btn btn-success" data-bs-toggle="modal" (click)="filterData()">Buscar
            </button>
        </div>
      </form>
    </div>
</div>